body {
    padding: 0;
    margin: 0;
    background-color: #8C7374;
 }

header {
    background-color: #8C7E73;
}

nav {
    background-color: #8C8B73;
    margin-top: -25px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-top: 0px;
    align-items: center;
}


.navbar2 {
    list-style-type: none;
    display: flex;
    padding: 10px;
    gap: 100px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-left: 180px;
}

main h1 {
    text-align: center;
    font-size: 70px;
    margin-top: auto;
    margin-bottom: 0;
}

main div p {
    background-color: #D9D9D9;
    padding: 50px 70px;
    border-radius: 30px;
    font-weight: bold;
}

main div {
    width: 50%;
    text-align: center;
    margin: auto;
}

.divv {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 100%;
}

main div  img {
    margin-top: 50px;
}

main div button {
    background-color: #D9D9D9;
    border-radius: 25px;
    font-size: 30px;
    padding: 20px 30px;
    border: none;
}

.div3 {
    float: right;
}

footer {
    background-color: #515862;
    padding: 10px 0 10px 0;
    margin-top: 142px;
}

.text {
    opacity: 0;
}



.divv a {
    color: black;
    font-weight: bold;
}
